@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-sm-3">


    </div>
</div>
<div class=" row">
    <div class="col-sm-3"></div>
    <div class="demo-card-square mdl-card mdl-shadow--2dp col-sm-5" id="loginCard" style="width: 30rem;">
        <div class="mdl-card__title mdl-card--expand">
            <h2 class="mdl-card__title-text">Login</h2>
        </div>
        <div class="mdl-card__supporting-text" style="width: 40rem;">
            <form method="post">

                <div asp-validation-summary="All"></div>

                <div class="form-group">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <label asp-for="Input.Email" class="mdl-textfield__label"></label>
                        <input asp-for="Input.Email" class="mdl-textfield__input" />
                    </div>

                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <label asp-for="Input.Password" class="mdl-textfield__label">Password</label>
                        <input asp-for="Input.Password" type="password" class="mdl-textfield__input" />
                    </div>

                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" value="Login" />
                </div>


            </form>
        </div>
    </div>



</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
